@charset "UTF-8";

@tailwind base;

@layer base {
  *,
  :root {
    --tw-bg-opacity: 1;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  /** Header of Gutenberg editor */
  .edit-post-visual-editor__post-title-wrapper .editor-post-title {
    margin: 0 auto 32px;
    border-bottom: solid 2px black;
    max-width: none;
  }

  /** Blocks */
  .edit-post-visual-editor.editor-styles-wrapper {
    margin: 0;
    padding: 1px;
  }

  .is-root-container > .block-editor-block-list__block,
  .is-root-container > .block-editor-block-list__block > .wp-block {
    max-width: none;
    margin: 5px auto;
  }

  .block-editor-block-list__block .block-list-appender {
    max-width: 1280px;
    width: 100%;
    margin: 4px auto;
  }

  .wp-block-columns
    .block-editor-block-list__block.wp-block-column:not(:first-child) {
    margin-left: 10px;
  }

  .wp-block[data-align="wide"] {
    max-width: 1280px;
  }

  .block-editor-block-list__layout .block-editor-block-list__block.is-hovered,
  .block-editor-block-list_block.is-selected {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .wp-block-cover
    .wp-block-cover__inner-container
    .wp-block-columns
    .wp-block-column.light_column {
    @apply bg-gray-300;
  }
  .wp-block-cover
    .wp-block-cover__inner-container
    .wp-block-columns
    .wp-block-column.dark_column {
    @apply bg-gray-700;
  }

  /** Robo: Hero Content Block */
  .hero-content-block .hero-content-wrapper .hero-content-heading {
    @apply mb-4;
  }

  /** Colors */
  .has-transparent-background-color {
    @apply bg-transparent;
  }
  .has-current-background-color {
    @apply bg-current;
  }
  .has-black-background-color {
    @apply bg-black;
  }
  .has-white-background-color {
    @apply bg-white;
  }
  .has-gray-200-background-color {
    @apply bg-gray-200;
  }
  .has-gray-300-background-color {
    @apply bg-gray-300;
  }
  .has-gray-400-background-color {
    @apply bg-gray-400;
  }
  .has-gray-500-background-color {
    @apply bg-gray-500;
  }
  .has-gray-600-background-color {
    @apply bg-gray-600;
  }
  .has-gray-700-background-color {
    @apply bg-gray-700;
  }
  /** fonts */
  .has-extra-small-font-size {
    @apply text-xs;
  }
  .has-small-font-size {
    @apply text-sm;
  }
  .has-normal-font-size {
    @apply text-base;
  }
  .has-large-font-size {
    @apply text-xl;
  }
  .has-extra-large-font-size {
    @apply text-5xl;
  }

  /**
   * Buttons
   */
  .btn {
    @apply items-center justify-center border border-transparent text-base font-medium rounded-md;
  }
}
