<ul class="navigation">
	{% for item in items %}
		{% set target = item.target ? 'target="#{item.target}"' : '' %}
		<li class="{{ item.classes | join(' ') }} nav-item">
			<a class="lg:h-full h-auto flex flex-wrap content-center px-1 lowercase transition-colors duration-300 ease-out focus:outline-none" {{ target }} href=" {{ item.link }} ">{{ item.title }}</a>
			{% if item.children %}
				{% include "menu.twig" with {'items': item.children} %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
