{% extends "base.twig" %}

{% block content %}
	<!-- template: page-contact -->
	<div
		class="content-wrapper template-page-contact-wrapper bg-black pt-24">
		<!-- content wrapper -->
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					<section id="google_map_wrapper" class="section section-simple relative flex justify-center items-center w-full text-center p-0">
						<iframe class="google_map_iframe" src="{{google_map_uri}}" style="border:0; width: 100vw; height: 672px" allowfullscreen="0" loading="lazy"></iframe>
					</section>
					{% for section in post.meta('sections') %}
						{% include "partial/section.twig" with {'section': section, section_index: loop.index0} %}
					{% endfor %}
					{# {{post.content}} #}
				</div>
			</section>
		</article>
	</div>
	<!-- //content-wrapper -->

	<!-- //template: page-contact -->
{% endblock %}
